body{
    background-color: #444444;
}

h1{
	text-align: center;
	color:#ffffff;
}

.survolimage{
    transition: all 1s;
    opacity:0;
	z-index: 3;
}


.survolimage:hover{
    -webkit-transform:scale(1.1);
    transform:scale(2);
    opacity:1;
	z-index: 3;
}

div img{
	display: block;
	clear: both;
	z-index:1;
}

#imgGO{
    position : absolute;
    top:50%;
	left:5%;
}

#imgPiano{
    position : absolute;
    top:50%;
	left:70%;
}

#imgActiv{
    position : absolute;
    top:10%;
	left:40%;
}


