body{
    background-color: #444444;
}

h1{
	text-align: center;
	color:#ffffff;
}

.survolimage{
    margin-left: -40px;
    margin-top: -40px;
    transition: all 1s ease-in-out 0s;
    opacity:0;
	z-index: 3;
}


.survolimage:hover{
    transform:scale(1.1);
    opacity:1;
	z-index: 3;
}

div img{
	display: block;
	clear: both;
	z-index:1;
}

#imgGO{
    position : absolute;
    width: 30%;
    height:30%;
    top:40%;
	left:25%;
}

#imgPiano{
    position : absolute;
    width: 30%;
    height:30%;
    top:40%;
	left:55%;
}

#imgActiv{
    position : absolute;
    width: 30%;
    height:30%;
    top:20%;
	left:40%;
}

#MenuBas{
    display:inline;
    position:absolute;
    top:80%;
    width:50%;
    left:25%;
    font-family: Helvetica;
}

#titre{
    position : absolute;
    top:5%;
    width:30%;
    font-family: Monaco;
    left:35%;
}
